# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# OS files
Thumbs.db
Desktop.ini

# Editor files
*.swp
*.swo
*~

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
